---
const { toolName, toolDocsLink } = Astro.props;
---
<div class="additional-documentation">
	<h4>Additional {toolName} Documentation</h4>
    <div>
        <p>Click <a href={toolDocsLink}>here</a> for the official documentation.
    </div>
</div>