---
import AdditionalDocs from "./ToolAdditionalDocs.astro";
import Intro from "./ToolIntro.astro";
import Availability from "./ToolAvailability.astro";
const {
    introParagraph,
    toolName,
    availability,
    toolLink,
    toolDocsLink
} = Astro.props;
---

<div class="tool-layout">
    <section>
        <Intro
            content={introParagraph}
        />
        <Availability availability={availability}/>
        <slot />
        <AdditionalDocs
            toolDocsLink={toolDocsLink}
            toolName={toolName}
        />
    </section>
</div>
