{
  "useTabs": true,
  "doubleQuote": true,
  "tabWidth": 4,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "useTabs": true,
        "trailingComma": "none",
        "arrowParens": "avoid",
        "proseWrap": "preserve"
      }
    },
    {
      "files": "*.{json,babelrc,eslintrc,remarkrc,prettierrc}",
      "options": {
        "useTabs": true
      }
    }
  ]
}
