.hero {
	grid-template-columns: none;
}

#home-support-icon-link {
	.icon {
		background-color: #5865f2;
		border: none;
		color: #fff;
	}
}

#home-deploy-icon-link,
#home-learn-icon-link,
#home-tools-icon-link {
	.icon {
		background-color: var(--sl-color-accent-low);
		border: none;
		color: var(--sl-color-white);
	}
}

.card-grid {
	a {
		min-height: 100px;
		height: auto;
		max-height: 200px;

		article {
			height: 100% !important;

			&:hover {
				border: 1px solid var(--sl-color-white);
			}
		}
	}
}
