:root,
:root[data-theme="light"] {
	--calypso-purple-light: rgb(103, 35, 71);
	--calypso-purple-dark: rbg(57, 15, 68);
	--calypso-gradient: linear-gradient(
		270deg,
		var(--calypso-purple-light),
		var(--calypso-purple-dark)
	);
}
