/* Dark mode colors. */

:root {
	--sl-color-accent-low: hsl(224, 72%, 18%);
	--sl-color-accent: #1f4cff;
	--sl-color-accent-high: #afc8ff;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeeee;
	--sl-color-gray-2: #c2c2c2;
	--sl-color-gray-3: #8b8b8b;
	--sl-color-gray-4: #585858;
	--sl-color-gray-5: #383838;
	--sl-color-gray-6: #272727;
	--sl-color-black: #000;
	--sl-color-hover: #a4bff760;
	--sl-color-header-hover: #afc8ff;
	--sl-text-sm: 0.925rem;
	--mermaid-text-color: var(--sl-color-white);
}
/* Light mode colors. */
:root[data-theme="light"] {
	--sl-color-accent-low: #c4d7ff;
	--sl-color-accent: #2150ff;
	--sl-color-accent-high: #0f2778;
	--sl-color-white: #181818;
	--sl-color-gray-1: #272727;
	--sl-color-gray-2: #383838;
	--sl-color-gray-3: #585858;
	--sl-color-gray-4: #8b8b8b;
	--sl-color-gray-5: #c2c2c2;
	--sl-color-gray-6: #eeeeee;
	--sl-color-gray-7: #f6f6f6;
	--sl-color-black: #ffffff;
	--sl-color-hover: #2151ff29;
	--sl-color-header-hover: #2150ff;
	--sl-text-sm: 0.925rem;
	--mermaid-text-color: var(--sl-color-white);
}

.Toastify {
	z-index: 100000000000000000000;
}

.card-grid a article {
	min-height: 200px !important;
}

pre,
.expressive-code figure .copy {
	margin-top: 0 !important;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.expressive-code figure .copy button {
	width: 1.75rem;
	height: 1.75rem;
}

.site-title:where(.astro-m46x6ez3) span {
	display: none;
}

.content:where(.astro-ml6ntd6l) code .ec-line {
	margin-top: 0rem;
}

.right-sidebar-panel:where(.astro-pb3aqygn) a:hover {
	background-color: var(--sl-color-hover);
}

iframe {
	aspect-ratio: 16/9;
	width: 100%;
}
