---
import { ThemeSelect } from 'virtual:starlight/components';
import Navigation from "../Navigation.astro";
import type { Props } from '../props';
import { WalletLayout } from '../WalletLayout';
---

<div class="mobile-preferences sl-flex">
	<div class="sl-flex">
		<Navigation {...Astro.props} />
	</div>
	<div class="sl-flex">
		<ThemeSelect {...Astro.props} />
		<!-- <LanguageSelect {...Astro.props} /> -->
	</div>
	<div class="sl-flex">
		<WalletLayout client:load />
	</div>
</div>

<style>
	.mobile-preferences {
		flex-direction: column;
		justify-content: space-between;
		border-top: 1px solid var(--sl-color-gray-6);
		padding: 0.5rem 0;
		width: 100%;
	}

	
</style>