<div class="banner">
	<p>
		Solidity Compatibility Note: 
		<span class="highlight_1"> Solidity Version ≤ </span> 
		<span class="highlight_2">0.8.24 </span> | 
		<span class="highlight_1"> EVM Compiler Version ≤ </span> 
		<span class="highlight_2">Shanghai</span>
	</p>  
</div>

<style>
  
  .banner {
	  background-color: var(--sl-color-gray-5); 
	  width: 100%; 
	  text-align: center; 
	  height: 50px;
	  font-size: clamp(0.6rem, 2vw, 1rem); 
	  position: fixed;
	  top: 0; 
	  z-index: 10;
	  display: flex;
	  flex-direction: row;
	  align-items: center;
	  justify-content: center;


  }

  .banner p {
	  color: var(--sl-color-white);
	  height: 75%;

	  @media(max-width: 864px) {
	  	height: 60%;
	  }

	  @media(max-width: 768px) {
	  	height: 50%;
	  }
  }

  .banner p .highlight_2 {
	  color: var(--sl-color-accent-high);
	  font-weight: bold; 
  }


  .banner p .highlight_1 {
	  color: var(--sl-color-white);
	  font-weight: bold; 
  }

  

</style>
