---
const { showBanner } = Astro.props;
---

{
	showBanner && (
  <div class="banner">
      <p>
          Solidity Compatibility Note: 
          <span class="highlight_1"> compiler version ≤ </span> 
          <span class="highlight_2">0.8.24 </span> | 
          <span class="highlight_1"> EVM Version ≤ </span> 
          <span class="highlight_2">Shanghai</span>
      </p>	
  </div>
)
}

<style>
    
	.banner p {
		color: black; 
	}

	.banner p .highlight_2 {
		color: rgb(15, 22, 216);
		font-weight: bold; 
	}


	.banner p .highlight_1 {
		color: rgb(0, 0, 0);
		font-weight: bold; 
	}

	.banner {
		background-color:var(--sl-color-text-accent); 
		width: 100%; 
		text-align: center; 
		font-size: 1rem; 
		padding: 0.5rem 1rem;
		position: fixed;
		top: 0; 
		z-index: 10; 
	}

</style>
