---
import { Icon } from '@astrojs/starlight/components';
---


<a href="https://www.sfuelstation.com/" target="_blank" rel="noopener noreferrer" class="navigation-link">
    Faucet
    <Icon name="seti:elixir" size="0.8rem" />
</a>

<style>
    .navigation-link {
		text-decoration: none;
		color: var(--sl-color-gray-2);
        font-weight: bold;
		margin: 0 0 0 16px;
	}

	.navigation-link:hover {
        color: var(--sl-color-header-hover);
    }

</style>