---
import Select from '@astrojs/starlight/components/Select.astro';
const { label, url, items } = Astro.props;
---

<custom-navigation-item>
	{!items || items.length === 0
		? <a class="stand-alone-link" href={url}>{label}</a>
		:
			<Select
				label={label}
				value="auto"
				options={[
					{ label, selected: url === Astro.url.pathname, value: null },
					...items.map((item: any) => {
						return {
							label: item.label,
							selected: url === Astro.url.pathname,
							value: item.url
						}
					})]
				}
				width="7.5em"
			/>
		}
</custom-navigation-item>

<script>
	
	class CustomNavigationItem extends HTMLElement {

		constructor() {			
			super();
			const selectEl = this.querySelector('select');
			
			if (selectEl) {
				selectEl.addEventListener('change', (e) => {
					if (e.currentTarget instanceof HTMLSelectElement) {
						this.#onSelectUrl(e.currentTarget.value);
					}
				});
			}
		}

		#onSelectUrl(url: string) {
			window.location = url;
		}
	}

	customElements.define('custom-navigation-item', CustomNavigationItem);
</script>

<style>
	.stand-alone-link {
		color: #c2c2c2;
		font-weight: bold;
		text-decoration: none;
		margin: 0 0 0 16px;
	}

	.stand-alone-link:hover {
        color: #afc8ff;
    }

</style>