---
import type { Props } from '@astrojs/starlight/props';
import NavigationConfig from "../config/navigation";
import NavigationItem from "./NavigationItem.astro";
import Faucet from "./Faucet.astro";
---

<nav class="navigation-items">
	<Faucet/>
	{NavigationConfig.map((item) => {
		return <NavigationItem {...item} />
	})}
</nav>

<style>
	.navigation-items {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-evenly;
	}

	.navigation-items select {
		margin: 0 0 0 16px;
	}
</style>
