<select id="number-select">
  <option value="20">20</option>
  <option value="721">721</option>
  <option value="1155">1155</option>
</select>

<style>
  select {
    padding: 2px;
    font-size: 15px;
    border: none;
    background: #ffffff20;
    outline: none;
    cursor: pointer;
    border-radius: 0.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;

  }

  select::-ms-expand {
  display: none; 
  }

  option {
    font-weight: bold;
  }

  select:hover, select:focus {
    border-bottom: 1px solid #ccc;
  }
</style>
