.faucet {
    
    width: 50%;

    form {
        display: flex;
        flex-direction: column;

        input, button {
            margin: 10px 0;
        }

        button {
            font-size: 1em;
        }

        .invalid {
            color: red;
        }
    }
}